page-home {

}

.logo {
    img {
        align-items: center;
        padding-top: 50%;
    }
}

#teste {
    background-color: brown !important;
}

.imgSlide {
    max-height: 60% !important;
    max-width: 60% !important;
    margin-top: -170px;
}